<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Net Promoter Score</title>
    <link href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.19.0/codemirror.min.css" rel="stylesheet">
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>
<body>
    <div id="wrap" style="overflow: hidden;"> <!-- overflow hidden is for schema navigator -->
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand">Net Promoter Score</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="starter-template">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th title="NPS = % of Promoters - % of Detractors">Net Promoter Score</th>
                            <th title="Users that answered with score of 9-10">Total Promoters</th>
                            <th title="Users that answered with score of 1-6">Total Detractors</th>
                            <th title="Users that answered with score of 7-8">Total Passive</th>
                            <th title="Users that skipped the survey">Total Skipped</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for nps_info in nps_info_list %}
                        <tr>
                            <th>{{ nps_info.label }}</th>
                            <td>{{ nps_info.score }}</td>
                            <td>{{ nps_info.promoters }}</td>
                            <td>{{ nps_info.detractors }}</td>
                            <td>{{ nps_info.passive }}</td>
                            <td>{{ nps_info.skipped }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% if rolling %}
        <a href="{% url 'promoter-score-app'%}?rolling=0" type="button" class="btn btn-primary btn-lg">Switch to non-rolling scores</a>
    {% else %}
        <a href="{% url 'promoter-score-app'%}?rolling=1" type="button" class="btn btn-primary btn-lg">Switch to rolling scores</a>
    {% endif %}
    <br>
<!--    <p>Rolling scores use the most recent promoter scores from users. Rolling scores use scores from the start of collecting up to that month.</p> -->
    </div>

    <div id="footer" style="padding-top:20px;">
        <div class="container">
            <p class="text-muted">
                Powered by <a href="https://www.github.com/epantry/django-promoterscore/">django-netpromoterscore</a> from
                <a href="https://www.epantry.com">ePantry</a>.
            </p>
        </div>
    </div>
</body>
</html>